.wrapper {
    width: 1300px;
    margin: 0 auto;
    min-height: 610px;
    height: 610px;

}

.header {
    height: 60px;
    background: #a0b4c0;
}

table {
    table-layout: fixed;
    width: 600px;
}

table td {
    border: 0;
    overflow: hidden;
}

table td:nth-of-type(1) {
    width: 600px;
}

table td:nth-of-type(2) {
    width: 600px;
}

table td:nth-of-type(3) {
    width: 600px;
}


.middle {
    width: 100%;
    padding: 0 0 50px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
    position: relative;
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.content {
    padding: 0 450px 0 240px;
    position: relative;
}

.title-message {
    position: absolute;
    left: 600px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.messages{
    top: 40px;
    position: relative;
    height: 600px;
}
ul{
    list-style-type: none;
}
.left-sidebar {
    float: left;
    width: 250px;
    height: 550px;
    margin-left: -100%;
    position: relative;
    background: #838588;
    overflow: scroll;
}
.title-users {
    position: absolute;
    left: 100px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.users{
    top: 40px;
    position: relative;
    height: 50px;
}

.right-sidebar {
    float: left;
    scroll-margin: initial;
    width: 250px;
    height: 550px;
    margin-left: -250px;
    position: relative;
    background: #a9c8bb;
    overflow: scroll;
}
.title-admin {
    font-size: 20px;
    font-weight: bold;
}
.title-kick-online-user {
    font-size: 16px;
    font-weight: bold;
}

.footer {
    width: 1300px;
    margin: -50px auto 0;
    height: 50px;
    background: #fffdfd;
    position: relative;
}

.input-area {
    background: #e4eaee;
    padding: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #cfdae1;
}

.input-area .input-wrapper {
    background: #fff;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.input-area .input-wrapper input {
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 900px;
}

.input-area .input-wrapper i {
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    cursor: pointer;
}

.input-area gt input {
    background: #a0b4c0;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    float: right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}

.window-wrapper {
    background: #fff;
    width: 250px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 120px;
    position: relative;
}

.window-title {
    padding: 14px;
    position: relative;
}

.dots {
    float: left;
    width: 50px;
}

.window-title gt,
.title {
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}

.window-title gt,
.expand {
    position: absolute;
    right: 14px;
    top: 12px;
}

.dots gt,
i {
    margin-right: 2px;
}

.dots gt,
i:nth-child(1) {
    color: #f57e7d;
}

.dots gt,
i:nth-child(2) {
    color: #ffc881;
}

.dots gt,
i:nth-child(3) {
    color: #82cf85;
}

.expand gt,
i {
    color: #cfd6e0;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 14px;
    position: relative;
    height: 40px;
}
